/* GRID */
$cols-num: 12;
$cols-gutter: 15px;
$mobile-cols-num: 4;


/* COLORS */
$blue: #08c;
$green: #08BAAA;
$light-green: #08cccc;
$black: #444;
$dwhite: #dedede;
$ewhite: #ededed;
$grey: #e9e9e9;