/* GRID */
$cols-num: 12;
$cols-gutter: 15px;
$mobile-cols-num: 4;
$tablet-cols-num: 8;


/* COLORS */
$blue: #0099fa;
$green: #00bf5a;
$light-green: #08cccc;
$red: #cc000e;
$black: #333;
$light-black: #777;
$dwhite: #dedede;
$ewhite: #ededed;
$grey: #ccc;
$yellow: #fea904;