* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}


/* GLOBALS */

body {
	direction: rtl;
}

.box {
	width: 100%;
	background: #ededed;
}
.rounded {
	@extend %rounded;
}
img {
	max-width: 100%;
	margin: 0;
	padding: 0;
}

.main-header {
	@extend %main-header;

}
.rounded {
	@include border-radius(4px);
}
@include clearfix('.main-header');