.btn {
	padding: 6px 18px;
	display: block;
	float: right;

	text-decoration: none;
	text-align: center;
	font-family: tahoma;
	font-size: 12px;
	color: #333;

	background: #c1c1c1;
	@include background-image(linear-gradient(#fff, darken(#fff, 7%)));
	border: 1px solid darken(#fff, 14%);
	@include border-radius(4px);

	@include single-transition(background, 0.5s, ease-in-out); // @TODO need to fix it to work like it were..

}
.btn:hover {
	background: darken(#c1c1c1, 7%);
	@include background-image(linear-gradient(#f9f9f9, #dedede));
	border: 1px solid darken(#f9f9f9, 14%);
}
.btn:active {
	background: #bbb;
	@include background-image(linear-gradient(#ededed, #ccc));
	@include box-shadow(#bbb 0px 1px 5px inset);
	border: 1px solid darken(#f9f9f9, 24%);

}