div {
	font-size: 14px;
}
.text-centered {
	text-align: center;
}
p, li {
	font-family: tahoma;
	font-size: 12px;
	line-height: 1.625em;
	font-weight: 400;
}
.stand-out {
	font-size: 16px;
	font-family: arial;
}
abbr:hover {
	cursor: help;
}

address {
	font-style: normal;
	line-height: 20px;
	margin-bottom: 15px;
}

blockquote {
	margin-right: 0;
	padding: 1em 40px;
	border-right: 4px solid #ededed;

	small {
		font-family: tahoma;
	}
	p {
		font-size: 1.2em;
		font-family: arial;
	}
}
blockquote small::before {
	content: '\2014 \00A0';
	padding-left: 10px;
}
dt {
	font-weight: bold;
}
