.navbar {
	background: #fff;
	color: #333;

	position: relative;
	top: -60px;
	right: 0;
	padding:0;
	width: 100%;
	border-bottom: 1px solid #c1c1c1;
}
.navbar .logo {
	float: right;
	padding: 15px;
	max-height: 45px;
}
.navbar .logo img {
	max-height: 35px;
	margin-top: -7.5px;
}
.navbar input {
	margin: 0;
}
.navbar h1,.navbar h2,.navbar h3,.navbar h4,.navbar h5,.navbar h6 {
	margin:0;
	line-height: 15px;
	color: #444;
}
.nav {
	display: block;
	list-style: none;
	margin: 10px 0 0;
	width: 100%;
	padding: 0;
	overflow: hidden;

	@include box-shadow(#ccc 0px 0px 5px inset);
	@include background-image(linear-gradient(#f1f1f1, #ededed));
	border-top: 1px solid #c1c1c1;

}
.nav li {
	padding: 15px;
	border-bottom: 1px solid #dedede;
	@include box-shadow(#f9f9f9 0px 1px 0px);
}
.nav li:last-child {
	margin-bottom: 0;
}
.nav a {
	color: #666;
	text-decoration: none;
	width: 100%;
}


@media only screen and (min-width: 960px) {
	.navbar {
		max-height: 45px;
		top: 0px;
		background: #f1f1f1;
	}
	.navbar form {
		padding: 9.5px;

		input {
			margin: 0;
		}
	}
	.fixed {
		position: fixed;
		top: 0;
		right: 0;
	}
	.nav {
		background: transparent;
		border:none;
		@include box-shadow(none);
		@include border-radius(0px);
		margin: 0;



		float: right;
		width: auto;
	}
	.nav li {
		display: block;
		float: right;
		border-bottom:none;
		@include box-shadow(none);
		padding: 0;
	}
	
	.nav a {
		display: block;
		line-height: 44px;
		padding: 0 15px;
		border-left: 1px solid lighten(#ccc, 2%);
	}
	.nav li:first-child a {
		border-right: 1px solid lighten(#ccc, 2%);;
	}
	.nav a:hover {
		color: #333;
		background: #f9f9f9;
		@include background-image(linear-gradient(#f9f9f9, #ededed));
	}
	.nav .selected {
		font-weight: bold;
		color: #333;
		background: #ededed;
		@include background-image(linear-gradient(#f1f1f1, #ededed));
		@include box-shadow(#ccc 0px 0px 5px inset);
		
	}

}

.navbar {
	@include background-image(linear-gradient(white, #f1f1f1));
	@include box-shadow(#ededed 0px 0px 5px);
}