%rounded {
	@include border-radius(4px);
}

%main-header {
	background: #333;
	@include background(null, linear-gradient(bottom , #222, #444));
	border-bottom: 1px solid #000;
	@include box-shadow(#444 0px 0px 5px);
	color: #fff;

	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	min-height: 1px;
	max-height: 50px;
}
%main-header .logo, %main-header .text {
	margin: 0;
	padding: 0 25px;
}

%main-header a {
	color: inherit;
}
%main-header.fixed {
	position: fixed;
}