@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

body {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	background: #f7f7f7;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
}
.intro {
	background: #f1f1f1;
	border-bottom: 1px solid #dedede;

	margin-top: -20px;
	padding: 20px;
}
.slogan p {
	color: #555;
	margin-bottom: 20px;
}
.hc-logo, .hc-logo img {
	width:227px; 
	height:64px;
	margin: 10px auto;
}
.actions .btn, .btn {
	margin-bottom: 15px;
}

.feature {
	border-bottom: 1px solid #ededed;
}
.row .feature:last-child {
	border-bottom: none;
}


.done-with-love {
	font-size: 0.85em;
}
footer {
	border-top: 1px solid #ededed;
	padding: 10px 0;
	margin-top: 30px;
}
footer span {
	font-family: tahoma;
	font-size: 12px;
	float: left;
}

/* modules */
.snippet {
	background: #f5f5f5;
	border:1px solid #dedede;
	font-size: 0.9em;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	direction: ltr;
}
.margin-bottom {
	margin-bottom: 10px;
}
.divider {
	background: #dedede;
	height: 1px;
	width: 100%;
	margin-bottom: 10px;
}

@media screen and (min-width: 960px) {
	.slogan {
		margin-top: 50px;
	}
	.feature {
		border-left: 1px solid #dedede;
		min-height: 200px;
		border-bottom: none;
	}
	.row .feature:last-child {
		border-left: none;
	}
	.get-started {
		width: 175px;
		margin: 0 auto;
	}
}