@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

body {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
.intro {
	background: #08c;
	border-bottom: 1px solid #006aad;
	color: #fff;

	margin-top: -20px;
	padding: 20px;
}
.slogan, .done-with-love {
	font-weight: 400;
}
.slogan-english {
	font-size: 1.2em;
	color: rgba(255,255,255,0.6);
}

.actions .btn {
	margin-bottom: 15px;
}
.heart {
	color: red;
	font-size: 1em;
}

footer {
	background: #333;
	color: #fff;
	position: relative;
	bottom: 0;
}
.done-with-love {
	font-size: 0.85em;
}

/* modules */
.snippet {
	background: #f5f5f5;
	border:1px solid #dedede;
	font-size: 0.9em;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	direction: ltr;
}
.margin-bottom {
	margin-bottom: 10px;
}