@mixin animation-holder($name) {
	-moz-animation-name: $name;
    -moz-animation-duration: .2s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;

    -webkit-animation-name: $name;
    -webkit-animation-duration: .2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;

    -ms-animation-name: $name;
	-ms-animation-duration: .2s;
	-ms-animation-iteration-count: 1;
	-ms-animation-timing-function: ease;

	-o-animation-name: $name;
	-o-animation-duration: .2s;
	-o-animation-timing-function: ease;
	-o-animation-iteration-count: 1;

	animation-name: $name;
	animation-duration: 1s;
	animation-delay: .2s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

@mixin keyframes($name) {
  @-moz-keyframes #{$name}  { @content; }
  @-webkit-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}