@function str-num($num) {
	@if ($num == 1) { @return 'one'; }
	@if ($num == 2) { @return 'two'; }
	@if ($num == 3) { @return 'three'; }
	@if ($num == 4) { @return 'four'; }
	@if ($num == 5) { @return 'five'; }
	@if ($num == 6) { @return 'six'; }
	@if ($num == 7) { @return 'seven'; }
	@if ($num == 8) { @return 'eight';}
	@if ($num == 9) {@return 'nine';}
	@if ($num == 10) {@return 'ten';}
	@if ($num == 11) {@return 'eleven';}
	@if ($num == 12) {@return 'twelve';}
}