legend {
	font-weight: bold;
	padding: 0 5px;
	margin-right: -5px;
	background: #fff;
}
fieldset {
	@include border-radius(2px);
	border: 1px solid $grey;
}
label {
	color: #494949;
	display: block;
	cursor: pointer;
	margin-bottom: 5px;
	font-weight: 500;
}

textarea {
	padding: 5px!important;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	border: 1px solid $grey;
	padding: 6px;
	font-family: inherit;
	@include box-shadow(#f5f5f5 1px 1px 5px inset);
	outline: none;
	@include border-radius(4px);

	margin: 0 0 20px 0;
	display: block;
}
input:focus, textarea:focus {
	@include box-shadow(lighten(#a1a1a1,25%) 0px 0px 5px);
	border: 1px solid lighten(#a1a1a1,5%);
}
form .col:last-child {
	float:right;
}

.prefix {
	background: #f1f1f1;
	border: 1px solid $grey;
	text-align: center;
	font-weight: bold;
	color: #555;
	padding: 1px 5px;
	@include border-radius(0px 3px 3px 0px);


	display: block;
	position: absolute;
	z-index: 2;
	line-height: 1.9em;
	margin-bottom: 10px;
	float: right;
}
.nav input {
	width: auto;
	float: right;
}