.top-bar {
	background: #333;


	height: 45px;
	z-index: 999;
	position: relative;
	margin-bottom: 20px;

}
.top-bar .logo {
	height: 45px;
}
.logo img {
	padding-top: 9px;
	padding-bottom: 9px;
}
.logo .brand {
	line-height: 45px;
	font-size: 1.4em;
	color: #fff;
	text-decoration: none;
}
.navigation-toggle {
	padding-top: 10px;
	max-width: 80px;
	float: left;

	.toggle-line {
		background: #fff;
		@include border-radius(4px);

		display: block;
		height: 5px;
		width: 100%;
		max-width: 40px;
		margin-bottom: 4px;
		float: left;
	}
	.toggle-line:last-child {
		margin-bottom: 0;
	}
}
.top-bar .inline>li {
	border-bottom: 1px solid #444;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.top-bar .inline>li>a {
	color: lighten(#999,5%);
	text-decoration: none;
	line-height: 25px;
}
.top-bar .inline>li>a:hover {
	color: #fff;
}
.top-bar ul {
	margin: 0;
}
.top-bar .btn {
	line-height: 20px!important;
	padding: 2px 26px;
}

.navigation {
	background: #333;

	padding-bottom: 10px;
	display: none;


	.active {
		color: #fff!important;
		font-weight: bold;
	}
}
.navigation input {
	border: 1px solid #333;
}
.navigation input:focus {
	@include box-shadow(darken(#aaa,15%) 0 0 5px);
}
.navigation .divider {
	display: none;
}
.top-bar .dropdown-toggle {
	line-height: 45px;
	color: #999;
	font-size: 12px;
}
.top-bar .dropdown {
	padding: 0;
}
.top-bar .dropdown .menu {
	margin-top: -5px;
	min-width: 100%;
}
.is-not-collapsed, .is-collapsed {
    position: relative;
    z-index: 988;
}
.is-not-collapsed {
	@include animation-holder('slideDown');
	display: block!important;
}
.is-collapsed {
	@include animation-holder('slideUp');
}
/* GPU accelerated animation! */
.is-not-collapsed, .is-collapsed {
	@include translateZ(0);
}


@include keyframes('slideDown') {
   0% { 
        margin-top: -100%; 
    }
    25%  { 
        margin-top: -75%; 
    }
    50% {
    	margin-top: -50%;
    }
    75% {
    	margin-top: -25%;
    }
    100% {
    	margin-top: 0;
    }
}

@include keyframes('slideUp') {
   0% { 
        margin-top: 0; 
    }
    25%  { 
        margin-top: -25%; 
    }
    50% {
    	margin-top: -50%;
    }
    75% {
    	margin-top: -75%;
    }
    100% {
    	margin-top: -100%;
    }
}



@media only screen and (min-width: 960px) {
	.top-bar {
		border-bottom: 1px solid #555;
		@include box-shadow(#222 0px 1px 0px);
	}
	.top-bar form {
		height: 44px;
		padding-top: 7.5px;
	}
	.top-bar .inline>li>a {
		line-height: 45px;
	}
	.navigation {
		padding-bottom: 0;
		display: block;
	}
	.top-bar .inline>li {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.navigation {
		background: transparent;
	}
	.navigation .divider {
		background: #444;
		@include box-shadow(#222 1px 0px 0px);

		height: 44px!important;
		margin-right:15px;
		width: 1px!important;
		padding: 0!important;
		display: block;
	}
	.top-bar .dropdown .menu {
		margin-top: -5px;
	}
	.is-not-collapsed, .is-collapsed  {
		@include animation-holder('none');
	}
}